# Log level can be: debug, info, warn, error
LOG_LEVEL=info

# Inject server info
SERVER=Selfhost

# Absolute path to the main config file.
# Expands tilde (~) to the user's home directory.
# Recommand to write absoulute path such as "/root"
CONFIG_DIR=/root/vane/

# Engine Management port
PORT=3333

# The network port to bind the server to
# Notice if HTTPS/3 enabled, You should check both TCP and UDP 443 prot
BIND_HTTP_PORT=80
BIND_HTTPS_PORT=44

# Try to find a public ip address
DETECT_PUBLIC_NETWORK=true
