Package: vane
Version: %VERSION%
Architecture: %ARCH%
Maintainer: Canmi <t@canmi.icu>
Description: A flow-based reverse proxy with multi-layer routing and programmable pipelines
 Vane is a flow-based reverse proxy with multi-layer routing
 and programmable pipelines.
Homepage: https://vaneproxy.com
Section: net
Priority: optional
Depends: libc6
