---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class="h-full bg-vane-light text-gray-900 dark:bg-vane-dark dark:text-gray-100">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>%STATUS_CODE% %STATUS_MESSAGE%</title>
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="flex h-full flex-col items-center justify-center transition-colors duration-300">
		<slot />
	</body>
</html>
