/* src/styles/colors.css */

:root {
	--color-primary: #161616;
	--color-secondary: #232323;
	--color-tertiary: #3a3a3a;
	--color-bg: #ffffff;
	--color-bg-alt: #ececec;
	--color-text: #161616;
	--color-subtext: #555555;
	--color-progress: var(--color-primary);
	--scrollbar-track: #ececec;
	--scrollbar-thumb: #c1c1c1;
	--scrollbar-thumb-hover: #a1a1a1;
}

.dark:root {
	--color-primary: #ececec;
	--color-secondary: #ffffff;
	--color-tertiary: #cfcfcf;
	--color-bg: #161616;
	--color-bg-alt: #232323;
	--color-text: #ffffff;
	--color-subtext: #a1a1a1;
	--color-progress: var(--color-primary);
	--scrollbar-track: #232323;
	--scrollbar-thumb: #424242;
	--scrollbar-thumb-hover: #555555;
}
